<div class="container-fluid bg-dark">
  <form class="bg-white d-flex flex-column" [formGroup]="RegisterForm">
    <nav class="p-2">Add Movie</nav>

    <mat-form-field appearance="outline">
      <mat-label>Title</mat-label>
      <input matInput type="text" formControlName="Title" placeholder="enter title" required>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Genre</mat-label>
      <mat-select formControlName="Genre" required>
        <mat-option></mat-option>
        <mat-option *ngFor="let genre of genres" value="{{genre.Genre}}">{{genre.Genre}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Movie</mat-label>
      <mat-select formControlName="File" [(ngModel)]="File" required>
        <mat-option></mat-option>
        <mat-option *ngFor="let movie of images" value="{{movie.Name}}">{{movie.Name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>URL</mat-label>
      <mat-select formControlName="URL" id="URL" required>
        <mat-option></mat-option>
        <mat-option *ngFor="let movie of images" value="{{movie.URL}}">
          <p *ngIf="File === movie.Name">{{movie.URL}}</p>
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Category</mat-label>
      <input matInput type="text" formControlName="Category" placeholder="Enter Category" required>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Producer</mat-label>
      <mat-select formControlName="Producer" required>
        <mat-option></mat-option>
        <mat-option *ngFor="let producer of producers" value="{{producer.Name}}">{{producer.Name}}</mat-option>
      </mat-select>
    </mat-form-field> 

    <mat-form-field appearance="outline">
      <mat-label>Movie information</mat-label>
      <textarea matInput formControlName="Details" placeholder="enter movie information" required></textarea>
    </mat-form-field>

    <button type="submit" class="btn btn-primary" (click)="save()">
      <i class="fa-solid fa-save"></i>
      Save movie
    </button>
    <br>
  </form>
</div>