<div class="container-fluid bg-dark">
  <form class="bg-white" [formGroup]="RegisterForm">
    <nav class="p-2">Add Movie</nav>

    <div class="form-group">
      <span>Title</span>
        <input type="text" class="form-control" formControlName="Title" placeholder="enter title" required>
    </div>

    <div class="form-group">
      <span>Genre</span>
        <select class="form-control" formControlName="Genre" required>
          <option></option>
          <option *ngFor="let genre of genres">{{genre.Genre}}</option>
        </select>
    </div>

    <div class="form-group">
      <span>Video</span>
      <select class="form-control" formControlName="File" required>
        <option></option>
        <option *ngFor="let movie of images">{{movie.Name}}</option>
      </select>
    </div>

    <div class="form-group">
      <span>Producer</span>
      <select class="form-control" formControlName="Producer" required>
        <option></option>
        <option *ngFor="let producer of producers">{{producer.Name}}</option>
      </select>
    </div>

    <div class="form-group">
      <span>Category</span>
        <input type="text" class="form-control" placeholder="enter Category" formControlName="Category" required>
    </div>

    <div class="form-group passwords">
      <span>Movie information</span>
      <textarea class="form-control" formControlName="Details" placeholder="enter movie information" required cols="3" rows="5">
      </textarea>
    </div>

    <button type="submit" class="btn btn-primary" (click)="save()">
      <i class="fa-solid fa-save"></i>
      Save movie
    </button>
    <br>
  </form>
</div>
