<div class="container-fluid bg-dark">
  <form class="bg-white" [formGroup]="RegisterForm">
    <nav class="p-2">Add Movie</nav>

    <div class="form-group">
      <span>Title</span>
        <input type="text" class="form-control" formControlName="title" placeholder="enter title" required>
    </div>

    <div class="form-group">
      <span>File</span>
        <input type="file" class="form-control" formControlName="file" placeholder="enter movie" required>
    </div>

    <div class="form-group">
      <span>Genre</span>
        <input type="text" class="form-control" formControlName="genre" placeholder="enter movie genre" required>
    </div>

    <div class="form-group">
      <span>Producer</span>
        <input type="text" class="form-control" formControlName="producer" placeholder="enter producer name" required>
    </div>

    <div class="form-group passwords">
      <span>Movie information</span>
      <textarea class="form-control" formControlName="details" placeholder="enter movie information" required cols="3" rows="5">
      </textarea>
    </div>

    <button type="submit" class="btn btn-primary" (click)="save()">
      <i class="fa-solid fa-save"></i>
      Save movie
    </button><br>
  </form>
</div>
