<div class="d-flex" *ngFor="let movie of movies">
  <mat-card class="movie-card" *ngIf="movie.Category == 'Series'">
    <a routerLink="/play/{{movie.ID}}">
      <img mat-card-image [src]="'../../../../../assets/films/movies/'+ movie.File" [alt]="movie.Title" width="200">
      {{movie.Title}}
      <mat-card-content>
        <p>
          {{movie.Details}}
        </p>
      </mat-card-content>
      <mat-card-actions class="d-flex flex-wrap">
        <button mat-button class="mat-button">{{movie.Producer}}</button>
        <button mat-button class="mat-button">{{movie.Genre}}</button>
      </mat-card-actions>
    </a>
  </mat-card>
</div>