/* general styles */

html {
  width: 100%;
  height: auto;
}

/* left navigation-bar styles */
.horizontal-nav {
  width: 13%;
  height: auto;
  padding: 0px;
  padding-top: 5%;
  padding-left: 2%;
  position: fixed-left;
}

.horizontal-nav a h1 {
  width: 100px;
  font-size: 1.05rem;
}

.horizontal-nav div {
  font-size: .8rem;
  margin-bottom: 15px;
  color: whitesmoke;
  margin-right: 0px;
  width: 100px;
}

.horizontal-nav div div:hover {
  color: yellow;
  border-right: 2px solid yellow;
}

.horizontal-nav div div:focus {
  color: yellow;
  border-right: 2px solid yellow;
}

.horizntal-nav div div:activer{
  color: yellow;
  border-right: 2px solid yellow;
}

.horizontal-nav div div a {
  text-align: center;
  color: whitesmoke;
  width: 100px;
}

.horizontal-nav div div a:hover {
  color: yellow;
  border-right: 2px solid yellow;
}

.horizontal-nav div div a:focus {
  color: yellow;
  border-right: 2px solid yellow;
}

.horizontal-nav div div a:active {
  color: yellow;
  border-right: 2px solid yellow;
}

.horizontal-nav div div i {
  padding-top: 5px;
}

.btn {
  width: 100px;
}

a {
  text-decoration: none;
}

/* body styles */
body {
  width: 74%;
  height: auto%;
  padding: 2%;
}

mat-toolbar {
  width: 100%;
}

small {
  margin: 1%;
}

small a {
  color: #c8c8c8cc;
}

small a:hover {
  color: white;
  cursor: hand;
}

small a:active {
  color: white;
}

small a:focus {
  color: white;
  cursor: hand;
}

.main-div {
  height: 100%;
  width: 100%;
}

.router-outlet-div {
  width: 100%;
}

mat-drawer-container {
  width: 20%;
  height: 100%;
  margin-top: 0px;
}

mat-drawer {
  width: 100%;
}


.example-spacer {
  flex: 1 1 auto;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}

/* right navigation-bar */
.vertical-nav {
  width: 13%;
}

.input-group {
  margin-top: 20px;
}

input {
  height: 30px;
  background-color: unset;
  border-color: grey;
}