<html class="d-flex bg-black">
  <nav class="horizontal-nav nav nav-link d-flex flex-column float-left bg-dark text-left">
    <a href="#" class="home-link">
      <h1>
        <code class="text-danger">Lutimbe</code><code class="bg-white text-black">Filmz</code>
      </h1>
    </a>

    <div class="main-link">
      <h3 class="text-white">Menu</h3>

      <div class="d-flex text-left">
        <i class="fa-solid fa-home"></i>&nbsp;
        <a class="text-left link" active routerLink="/cinema/browse">Home</a>
      </div>

      <div class="d-flex text-left">
        <i class="fa-brands fa-product-hunt"></i>&nbsp;
        <a class="text-left link" routerLink="producers">producers</a>
      </div>

      <div class="d-flex text-left">
        <i class="fa fa-users"></i>&nbsp;
        <a class="text-left link" routerLink="customers">customers</a>
      </div>
    </div>
    <!-- <hr class="text-white hr-first"> -->

    <div class="profile-link">
      <h3>Profile</h3> 

      <div class="d-flex text-left">
        <i class="fa-solid fa-heart"></i>&nbsp;
        <a class="text-left link" routerLink="customers">Faviouret</a>
      </div>

      <div class="d-flex text-left">
        <i class="fa fa-circle-arrow-down"></i>&nbsp;
        <a class="text-left link" routerLink="customers">Download</a>
      </div>

      <div class="d-flex text-left">
        <i class="fa-solid fa-history"></i>&nbsp;
        <a class="text-left link" routerLink="customers">Recent</a>
      </div>
    </div>
    <!-- <hr class="text-white"> -->
      
    <div class="general-link"> 
      <h3 class="text-white">General</h3> 

      <div class="d-flex text-left">
        <i class="fa fa-cog"></i>
        <a class="text-left link" routerLink="customers">Settings</a>
      </div>

      <button class="btn btn-danger text-center">
        logout
      </button>
    </div>
  </nav>

  <body class="d-flex flex-column bg-black">
    <mat-toolbar class="d-flex fixed-top justify-content-between position-sticky bg-black">
      <nav class="float-left text-left">
        <small>
          <a class="active">
            All
          </a>
        </small>

        <small>
          <a routerLink="movies">
            Movies
          </a>
        </small>

        <small>
          <a routerLink="series">
            Tv Shows
          </a>
        </small>

        <small>
          <a href="#">
            Documentaries
          </a>
        </small>
      </nav>
    </mat-toolbar>

    <div class="main-div">
      <div class="router-outlet-div bg-black text-white">
        <router-outlet></router-outlet>
      </div>
    </div>

    <mat-drawer-container class="example-container bg-black" autosize>
      <mat-drawer #drawer class="example-sidenav float-right bg-dark text-white" mode="side">
        <nav class="nav nav-link d-flex flex-column float-left bg-dark">
          <div class="d-flex">
            <i class="fa fa-home"></i>
            <a class="text-left active link" routerLink="moviesedits">movies</a>
          </div>
          <div class="d-flex">
            <i class="fa-brands fa-product-hunt"></i>
            <a class="text-left link" routerLink="producers">producers</a>
          </div>
          <div class="d-flex">
            <i class="fa-duotone fa-users"></i>
            <a class="text-left link" routerLink="customers">customers</a>
          </div>
              
          <button class="btn btn-danger text-center">
            logout
          </button>
        </nav>
      </mat-drawer>
    </mat-drawer-container>

  <footer class="bg-black text-center">
    @ copyright reserved at
      <code class="text-red">Lutimbe</code><code class="text-white bg-black">Filmz</code>
  </footer>

  </body>

  <nav class="vertical-nav nav nav-link d-flex flex-column float-left bg-dark text-left">
    <div class="input-group mb-4">
      <input type="search" class="form-control" placeholder="search" aria-label="search">
    </div>

    <div class="d-flex flex-column">
      <h3 class="text-danger popular-movies">Popular Movies</h3>

      <div class="popular-movies-div d-flex flex-column bg-dark">
        <div class="card-one d-flex bg-dark">
          <img src="src/assets/style-images/images (1).jfif" class="card-img-top" alt="images" width="100px">
          <div class="card-details">
            <h5 class="card-title">Card title</h5>
          </div>
        </div>

        <div class="card-two d-flex bg-dark">
          <img src="src/assets/style-images/images (2).jfif" class="card-img-top" alt="images" width="20px">
          <div class="card-details">
            <h5 class="card-title">Card title</h5>
          </div>
        </div>

        <div class="card-three d-flex bg-dark">
          <img src="src/assets/style-images/images.jfif" class="card-img-top" alt="images" width="20px">
          <div class="card-details">
            <h5 class="card-title">Card title</h5>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex flex-column">
      <h3 class="text-danger favorites">Favorites</h3>

      <div class="favorite-movies-div d-flex flex-column bg-dark">
        <div class="d-flex bg-dark one">
          <img src="..." class="card-img-top" alt="..." width="20px">
          <div class="card-details">
            <h5 class="card-title">Card title</h5>
          </div>
        </div>

        <div class="d-flex bg-dark two">
          <img src="..." class="card-img-top" alt="..." width="20px">
          <div class="card-details">
            <h5 class="card-title">Card title</h5>
          </div>
        </div>

        <div class="d-flex bg-dark three">
          <img src="..." class="card-img-top" alt="..." width="20px">
          <div class="card-details">
            <h5 class="card-title">Card title</h5>
          </div>
        </div>
      </div>
    </div>
  </nav>
</html>