/* general styles */

html {
  width: 100%;
  height: auto;
}

/* left navigation-bar styles */
.horizontal-nav {
  width: 13%;
  height: auto;
  padding: 0px;
  padding-top: 5%;
  padding-left: .5%;
  position: fixed-left;
  top: 4;
}

.horizontal-nav a h1 {
  width: 100px;
  font-size: 1rem;
  position: fixed;
  top: 3%;
}

.horizontal-nav div {
  font-size: .9rem;
  margin-bottom: 15px;
  color: whitesmoke;
  width: 80px;
}

.main-link div i,
.main-link div a {
  margin-top: 7%;
  position: fixed;
}

.main-link h3 {
  position: fixed;
  margin-top: 3%;
}

.profile-link div i,
.profile-link div a {
  margin-top: 10%;
  position: fixed;
}

.profile-link h3 {
  margin-top: 6%;
  position: fixed;
}

.general-link div i,
.general-link div a{
  margin-top: 14%;
  position: fixed;
}

.general-link h3 {
  margin-top: 10%;
  position: fixed;
}

.general-link button {
  margin-top: 17%;
  position: fixed;
}

.horizontal-nav div div:hover {
  color: yellow;
  border-right: 2px solid yellow;
}

.horizontal-nav div div:focus {
  color: yellow;
  border-right: 2px solid yellow;
}

.horizntal-nav div div:activer{
  color: yellow;
  border-right: 2px solid yellow;
}

.horizontal-nav div div a {
  text-align: center;
  color: whitesmoke;
  width: 100px;
}

.horizontal-nav div div a:hover {
  color: yellow;
  border-right: 2px solid yellow;
}

.horizontal-nav div div a:focus {
  color: yellow;
  border-right: 2px solid yellow;
}

.horizontal-nav div div a:active {
  color: yellow;
  border-right: 2px solid yellow;
}

.horizontal-nav div div i {
  padding-top: 5px;
}

.btn {
  width: 100px;
}

a {
  text-decoration: none;
}


/* body styles */
body {
  width: 70%;
  height: auto%;
  padding: 2%;
}

mat-toolbar {
  width: 100%;
}

small {
  margin: 1%;
}

small a {
  color: #c8c8c8cc;
}

small a:hover {
  color: white;
  cursor: pointer;
}

small a:active {
  color: white;
}

small a:focus {
  color: white;
  cursor: pointer;
}

.main-div {
  height: 100%;
  width: 100%;
}

.router-outlet-div {
  width: 100%;
}

mat-drawer-container {
  width: 20%;
  height: 100%;
  margin-top: 0px;
}

mat-drawer {
  width: 100%;
}


.example-spacer {
  flex: 1 1 auto;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}

/* right navigation-bar */
.vertical-nav {
  width: 17%;
}

.input-group {
  width: 100px;
  position: fixed;
  margin-top: 20px;
}

input {
  height: 30px;
  background-color: unset;
  border-color: grey;
}

.popular-movies {
  position: fixed;
  top: 12%;
}

.favorites {
  position: fixed;
  top: 58%;
}

.popular-movies-div {
  position: fixed;
  top: 17%;
  width: 20%;
  height: 90px;
}

.popular-movies-div .card-one {
  position: fixed;
  top: 18%;
  width: 120px;
  height: 50px;
  border: 1px solid grey;
  border-radius: 8px;
}

.popular-movies-div .card-two {
  position: fixed;
  top: 29%;
  width: 120px;
  height: 50px;
  border: 1px solid grey;
  border-radius: 8px;
}

.popular-movies-div .card-three {
  position: fixed;
  top: 40%;
  width: 120px;
  height: 50px;
  border: 1px solid grey;
  border-radius: 8px;
}

.popular-movies-div .card-one img,
.popular-movies-div .card-two img,
.popular-movies-div .card-three img {
  width: 40px;
  border-right: 2px solid grey; 
}

.card-details {
  width: 80px;
  border-left: 0px;
}

.favorite-movies-div {
  position: fixed;
  top: 63%;
  width: 20%;
  height: 90px;
  padding: 0 auto;
}

.favorite-movies-div .one {
  position: fixed;
  top: 74%;
  width: 120px;
  height: 50px;
  border: 1px solid grey;
  border-radius: 8px;
  margin: 0 auto;
}

.favorite-movies-div .two {
  position: fixed;
  top: 85%;
  width: 120px;
  height: 50px;
  border: 1px solid grey;
  border-radius: 8px;
  margin: 0 auto;
}

.favorite-movies-div .three {
  position: fixed;
  margin-top: 1%;
  width: 120px;
  height: 50px;
  border: 1px solid grey;
  border-radius: 8px;
  margin: 0 auto;
}

.favorite-movies-div .one img,
.favorite-movies-div .two img,
.favorite-movies-div .three img {
  width: 40px;
  border-right: 2px solid grey;
}

.card-details {
  width: 80px;
  border-left: 0px;
}