<html>
  <body class="d-flex">
    <div class="data bg-dark">
      <nav class="nav nav-link d-flex flex-column float-left bg-dark">
          <div class="d-flex">
            <i class="fa-solid fa-camera-movie"></i>
            <a class="text-left active link" routerLink="moviesedits">movies</a>
          </div>
          <div class="d-flex">
            <i class="fa-brands fa-product-hunt"></i>
            <a class="text-left link" routerLink="producers">producers</a>
          </div>
          <div class="d-flex">
            <i class="fa-duotone fa-users"></i>
            <a class="text-left link" routerLink="customers">customers</a>
          </div>
          
          <button class="btn btn-danger text-center" (click)="logout()">
            logout
          </button>
        </nav>
    </div>

    <mat-drawer-container class="example-container" autosize>
      <mat-drawer #drawer class="example-sidenav float-right bg-dark text-white" mode="side">
        <nav class="nav nav-link d-flex flex-column float-right bg-dark">
          <div class="d-flex">
            <i class="fa-solid fa-camera-movie"></i>
            <a class="text-left active link" routerLink="moviesedits">movies</a>
          </div>
          <div class="d-flex">
            <i class="fa-brands fa-product-hunt"></i>
            <a class="text-left link" routerLink="producers">producers</a>
          </div>
          <div class="d-flex">
            <i class="fa-duotone fa-users"></i>
            <a class="text-left link" routerLink="customers">customers</a>
          </div>
          
          <button class="btn btn-danger text-center" (click)="logout()">
            logout
          </button>
        </nav>
      </mat-drawer>

       <mat-toolbar class="d-flex fixed-top justify-content-between position-sticky bg-black">
            <nav class="float-left">
              <a href="#" class="home-link">
                <h1>
                  <code class="text-red">Lutimbe</code><code class="text-white bg-black">Filmz</code>
                </h1>
              </a>
            </nav>

          <div class="float-right example-sidenav-content">
            <button type="button" mat-button (click)="drawer.toggle()">
                menu
            </button>
          </div>
        </mat-toolbar>

      <div class="data bg-black">
        <router-outlet></router-outlet>
      </div>
    </mat-drawer-container>

  </body>
</html>