<html class="d-flex bg-black">
  <nav class="horizontal-nav nav nav-link d-flex flex-column float-left bg-dark text-left">
    <a href="#" class="home-link">
      <h1>
        <code class="text-danger">Lutimbe</code><code class="bg-white text-black">Filmz</code>
      </h1>
    </a>

    <div class="main-link">
      <h3 class="text-white">Menu</h3>

      <div class="d-flex text-left">
        <i class="fa-solid fa-home"></i>&nbsp;
        <a class="text-left link" active routerLink="/cinema/browse">Home</a>
      </div>

      <div class="d-flex text-left">
        <i class="fa-brands fa-product-hunt"></i>&nbsp;
        <a class="text-left link" routerLink="producers">producers</a>
      </div>

      <div class="d-flex text-left">
        <i class="fa fa-users"></i>&nbsp;
        <a class="text-left link" routerLink="customers">customers</a>
      </div>
    </div>
    <!-- <hr class="text-white hr-first"> -->

    <div class="profile-link">
      <h3>Profile</h3> 

      <div class="d-flex text-left">
        <i class="fa-solid fa-heart"></i>&nbsp;
        <a class="text-left link" routerLink="customers">Faviouret</a>
      </div>

      <div class="d-flex text-left">
        <i class="fa fa-circle-arrow-down"></i>&nbsp;
        <a class="text-left link" routerLink="customers">Download</a>
      </div>

      <div class="d-flex text-left">
        <i class="fa-solid fa-history"></i>&nbsp;
        <a class="text-left link" routerLink="customers">Recent</a>
      </div>
    </div>
    <!-- <hr class="text-white"> -->
      
    <div class="general-link"> 
      <h3 class="text-white">General</h3> 

      <div class="d-flex text-left">
        <i class="fa fa-cog"></i>
        <a class="text-left link" routerLink="customers">Settings</a>
      </div>

      <button class="btn btn-danger text-center" type="submit" (click)="logout()">
        logout
      </button>
    </div>
  </nav>

  <body class="d-flex flex-column bg-black">
      <mat-toolbar class="d-flex fixed-top justify-content-between position-sticky bg-black">
        <nav class="float-left text-left">
          <small>
            <a class="active">
              All
            </a>
          </small>

          <small>
            <a routerLink="movies">
              Movies
            </a>
          </small>

          <small>
            <a routerLink="series">
              Tv Shows
            </a>
          </small>

          <small>
            <a href="#">
              Documentaries
            </a>
          </small>
        </nav>

        <div class="example-sidenav-content">
          <button type="button" class="text-light" mat-button (click)="drawer.toggle()">
            <mat-icon class="menu">menu</mat-icon>
          </button>
        </div>
      </mat-toolbar>

    <mat-drawer-container class="example-container bg-dark d-flex">

      <div class="main-div float-left bg-black">
        <div class="router-outlet-div bg-black text-white">
          <router-outlet></router-outlet>
        </div>
      </div>

      <mat-drawer #drawer class="example-sidenav float-right bg-dark text-white" position="end" mode="over">
        <nav class="vertical-nav nav nav-link d-flex flex-column float-left bg-dark text-left">
          <div class="input-group mb-4">
            <input type="search" class="form-control" placeholder="search producers" aria-label="search">
          </div>

          <div class="d-flex flex-column chips">
            <label class="text-white">Producers</label>
            <mat-chip-list aria-label="Dog selection">
              <mat-chip>
                <img matChipAvatar src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Photo of a Shiba Inu"/>
                Dog one
              </mat-chip>
              <mat-chip color="primary">
                <img matChipAvatar src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Photo of a Shiba Inu"/>
                Dog two
              </mat-chip>
              <mat-chip color="accent">
                <img matChipAvatar src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="Photo of a Shiba Inu"/>
                Dog three
              </mat-chip>
            </mat-chip-list>
            <mat-chip-list aria-label="pruducer selection">
              <mat-chip>Actions</mat-chip>
              <mat-chip>Sci-Fi</mat-chip>
              <mat-chip>Romance</mat-chip>
              <mat-chip>Animations</mat-chip>
              <mat-chip>Documentaries</mat-chip>
              <mat-chip>Adventures</mat-chip>
              <mat-chip>Inspirational</mat-chip>
              <mat-chip>Drama</mat-chip>
              <mat-chip>Reality</mat-chip>
              <!-- <mat-chip color="primary" selected>Primary fish</mat-chip>
              <mat-chip color="accent" selected>Accent fish</mat-chip> -->
            </mat-chip-list>

          </div>
        </nav>
      </mat-drawer>

    </mat-drawer-container>

    <footer class="bg-black text-center">
        @ copyright reserved at
          <code class="text-red">Lutimbe</code><code class="text-white bg-black">Filmz</code>
      </footer>

  </body>
</html>