header {
	height: 15%;
	width: 100%;
	padding: 1%;
}

header nav {
	width: 60%;
}

h1 {
	padding-left: 2%;
	font-size: 2.2rem;
}

.float-left {
	width: 18%;
	padding: 1% auto;
	opacity: .9;
	color: white;
	visibility: hidden;
}

span:hover>nav {
	visibility: inherit;
}

.float-left nav {
	border: 2px solid white;
}

a {
	margin-left: 3%;
	width: 70%;
	text-decoration: none;
	height: 40px;
	color: white;
	padding: 1%;
	background-color: black;
}

a:active {
	background-color: white;
	color: black;
}

div {
	width: 82%;
	padding: 2%;
	opacity: .8;
}
