<html class="d-flex flex-column">
	<mat-toolbar class="d-flex fixed-top justify-content-between position-sticky bg-dark">
	   	<nav class="home-link">
			<a href="#">
				<h1>
		        	<code class="text-danger">Lutimbe</code><code class="bg-white text-black">Filmz</code>
		    	</h1>
		    </a>
		</nav>

		<div class="float-right example-sidenav-content">
		    <nav class="nav nav-link d-flex float-left">
				<div class="btn btn-outline-primary">
					<a class="text-left active link" active routerLink="moviesedits">
						<i class="fa-solid fa-camera"></i>&nbsp;&nbsp;
						Movies
					</a>
				</div>
				<div class="btn btn-outline-primary">
					<a class="text-left link" routerLink="producers">
						<i class="fa-solid fa-user"></i>&nbsp;&nbsp;
						Producers
					</a>
				</div>
				<div class="btn btn-outline-primary">
					<a class="text-left link" routerLink="customers">
						<i class="fa-solid fa-users"></i>&nbsp;&nbsp;
						Customers
					</a>
				</div>
				
				<button class="btn btn-danger text-center" (click)="logout()">
					logout
				</button>
			</nav>
  		</div>
	</mat-toolbar>

	<body class="d-flex flex-column">
		<mat-drawer-container class="example-container" autosize>
		  <div class="data">
		  	<router-outlet></router-outlet>
		  </div>
		</mat-drawer-container>
	</body>
</html>