.example-spacer {
  flex: 1 1 auto;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}

mat-toolbar {
	height: 15%;
	width: 100%;
	padding: 1%;
}

h1 {
	padding-left: 2%;
	font-size: 2.2rem;
}

body {
	width: 100%;
	height: auto;
}

mat-drawer-container mat-drawer {
	width: 20%;
	background-color: rgb(0 0 0 / 85%) !important;
}

mat-drawer-container {
	width: 100%;
	opacity: .8;
}

/*mat-drawer nav{}*/

.data {
	padding: 1%;
}

.float-left {
	width: 18%;
	padding: 1%;
	opacity: .9;
	color: white;
	visibility: visible;
}

span:hover>nav {
	visibility: inherit;
}

.home-link{
	text-decoration: none;
}

.link {
	margin: 3%;
	margin-left: 3%;
	margin-top: 2%;
	width: 90%;
	text-decoration: none;
	height: 40px;
	color: white;
	padding: 3%;
	padding-top: 2%;
	border: 1px;
	border-radius: 10px;
	color: yellow;
}

a:active {
	background-color: white;
	color: black;
}

a:hover {
	background-color: white;
	color: black;
}

.bg-black {
	background-color: black;
	width: 100%;
	height: 2px;
}

.bg-yellow {
	background-color: yellow;
	width: 100%;
	height: 2px;
}

.bg-red {
	background-color: red;
	width: 100%;
	height: 2px;
}

