<html class="bg-black">
	<body class="bg-black text-white text-center">
		<mat-card class="example-card bg-black text-white d-flex flex-column" *ngFor="let movie of movies">
			<video [src]="'../../../../../assets/films/'+ movie.File" width="100%" controls></video>

			<nav class="text-left">{{movie.Title}}</nav>
			<mat-card-content class="text-left">
			    <p>
			      {{movie.Details}}
			    </p>
			    <mat-card-actions>
				    <button mat-button>{{movie.Genre}}</button>
				    <button mat-button>{{movie.Producer}}</button>
				</mat-card-actions>
			</mat-card-content>
		</mat-card>
	</body>
</html>