video {
  width: 100%;
  margin-bottom: 20px;
}

body {
  width: 100%;
  height: 100%;
  padding: 2%;
  padding-top: 3.5%;
  background-color: #ffffff00;
  margin-top: 50px;
}

.slide {
  width: 100%;
  height: 400px;
}

header {
  width: 100%;
  margin-bottom: 50px;
}

a {
  text-decoration: none;
}

@media only screen and (max-width: 599px) {
  /* For mobile phones: */

  header {
    margin-bottom: 5px !important;
    height: 207px;
  }

  body {
    margin-top: 2px !important;
  }

  .movie-card {
    width: 110px;
    height: 200px;
    margin: 2px;
    font-size: .7rem;
  }

  .movie-card mat-card-actions {
    font-size: .6rem;
  }

  mat-card:hover,
  mat-card:hover mat-card-content p,
  mat-card:hover mat-card-actions {
    background-color: rgb(108 117 125 /40%);
    color: white;
    cursor: pointer;
    transition-duration: 100ms;
  }

  mat-card-content,
  mat-card-actions {
    display: none;
  }    
}

@media only screen and (min-width: 600px) {
  /* For tablets: */

  html {
    margin-bottom: 4px;
  }

  header {
    margin-bottom: 5px;
  }

  body {
    padding-top: 2px !important;
    margin-top: 5px;
  }

  video {
    margin-bottom: 5px;
  }

  mat-card {
    width: 150px;
    height: 210px;
    margin: 5px;
    padding: 2%;
  }

  mat-card:hover,
  mat-card:hover mat-card-content p,
  mat-card:hover mat-card-actions {
    background-color: rgb(108 117 125 /40%);
    color: white;
    cursor: pointer;
    transition-duration: 2s;
  }

  mat-card-content,
  mat-card-actions {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  /* For desktop: */

  header {
    margin-bottom: 90px;
  }
  
  mat-card {
    width: 190px;
    height: 200px;
  }

  mat-card:hover,
  mat-card:hover mat-card-content p,
  mat-card:hover mat-card-actions {
    background-color: rgb(108 117 125 /40%);
    color: white;
    cursor: pointer;
  }

  mat-card-content:hover {
    transition-timing-function: ease-in;
  }

  mat-card-content,
  mat-card-actions {
    display: none;
  }

  mat-card-content:hover mat-card-actions,
  mat-card-content:hover mat-card-content {
    display: visible;
  }

  .mat-button {
    width: 45%;
  }

  img {
    width: 200px;
  }
}