video {
  border-radius: 2%;
}

body {
  width: 100%;
  height: auto;
  padding: 2%;
  padding-top: 3.5%;
}

.slide { width: 100% }

mat-card {
  width: 23%;
  height: 15%;
  margin: 1%;
}

mat-card:hover,
mat-card:hover mat-card-content p,
mat-card:hover mat-card-actions {
  background-color: rgb(108 117 125 /40%);
  color: white;
  cursor: pointer;
}