<body class="container-fluid d-flex flex-column">
	<div class="d-flex">
		<input type="search" class="form-control " placeholder="search for recent movies, series" [(ngModel)]="Title" (onchange)="search()" (click)="closeDangerAlert()" data-dismiss="alerts">
		<button type="button" (click)="cancel()" class="btn btn-primary">cancel</button>
	</div>

	<div *ngFor="let movie of movies" class="vid-div alert-dismissible fade show" routerLink="/play/{{movie.ID}}">
		<nav class="d-flex justify-content-between" *ngIf="alerts">
			<div class="justify-content-start d-flex">
				<video width="140">
					<source [src]="movie.URL+movie.File" type="video/mp4">
				</video>
				<div class="description text-white text-left">
					{{movie.Details}} <br>
					{{movie.Producer}}
				</div>
			</div>
		</nav>
	</div>

	<div *ngFor="let movie of movies" class="vid-div" routerLink="/play/{{movie.ID}}">
		<nav class="d-flex justify-content-between" *ngIf="movie.Title == Title">
			<div class="justify-content-start d-flex">
				<video width="140">
					<source [src]="movie.URL+movie.File" type="video/mp4">
				</video>
				<div class="description text-white text-left">
					{{movie.Details}} <br>
					{{movie.Producer}}
				</div>
			</div>
		</nav>
	</div>

	<footer class="text-center text-black">
        @ copyright reserved at
        <img src="../assets/icon/lutimbefilmz.png" width="100px" alt="LutimbeFilmz.jpg">
      </footer>
</body>