<body class="container-fluid d-flex flex-column">
	<div class="d-flex">
		<input type="search" class="form-control" placeholder="search for recent movies, series" (onChange)="search()" [(ngModel)]="searched">
		<button (click)="cancel()" class="btn btn-primary">cancel</button>
	</div>

	<nav class="d-flex justify-content-between text-center">
		<div class="justify-content-start d-flex">
			<img src="../../../assets/style-images/Tech People.jpg" alt="movie image" width="140">
			<div class="description text-white text-left">
				well done
			</div>
		</div>
		
		<div class="justify-content-end">
			<i class="fa-solid fa-times text-center text-white"></i>
		</div>
	</nav>
</body>