body {
	width: 100%;
	margin-top: 2%;
}

input {
	width: 100%;
}

nav {
	height: 100px;
	width: 100%;
	background-color: #6c757d !important;
	margin-top: 1%;
}

nav:hover {
	cursor: pointer;
	opacity: .9;
}

img {
	opacity: .5;
}

.description {
	padding-left: 12px;
	padding-top: 33px;
}

.justify-content-end {
	padding: 33px 20px 0px 4px;
}

i {
	font-size: 20px;
}

.justify-content-end :hover {
	color: red;
	cursor: pointer;
}

input {
	width: 90%;
	margin-right: 2%;
}