<body class="container-fluid d-flex flex-column">
	<div class="d-flex">
		<input type="search" class="form-control " placeholder="search for recent movies, series" [(ngModel)]="Title" (onchange)="search()" (click)="closeDangerAlert()" data-dismiss="alerts">
		<button type="button" (click)="cancel()" class="btn btn-primary">cancel</button>
	</div>

	<div *ngFor="let movie of movies" class="alert-dismissible fade show" routerLink="/play/{{movie.ID}}">
		<nav class="d-flex justify-content-between" *ngIf="alerts">
			<div class="justify-content-start d-flex">
				<img [src]="'../../../../../assets/films/'+ movie.File" [alt]="movie.Title" width="140">
				<div class="description text-white text-left">
					{{movie.Details}} <br>
					{{movie.Producer}}
				</div>
			</div>
		</nav>
	</div>

	<div *ngFor="let movie of movies" routerLink="/play/{{movie.ID}}">
		<nav class="d-flex justify-content-between" *ngIf="movie.Title == Title">
			<div class="justify-content-start d-flex">
				<img [src]="'../../../../../assets/films/'+ movie.File" [alt]="movie.Title" width="140">
				<div class="description text-white text-left">
					{{movie.Details}} <br>
					{{movie.Producer}}
				</div>
			</div>
		</nav>
	</div>
</body>