html {
	width: 100%;
	margin: 0 auto;
}

body {
	height: auto;
	padding-bottom: 3%;
	padding-top: 2%;
	margin: 0 auto;
}

mat-stepper {
	padding: 2%;
	width: 80%;
	height: 100%;
	margin: 0 auto;
	border-radius: 8px;
}

.mat-stepper-horizontal {
	margin-top: 8px;
}

.mat-form-field {
 	margin-top: 16px;
	width: 95%;
}

.form-control {
	width: 94%;
}

mat-step {
	margin: 0 auto;
	height: 100%;
	width: 100%;
}

nav {
  font-size: 1.2rem;
}

input {
	width: 100%;
}

a {
	text-decoration: none;
}