<!-- Footer -->
<footer class="page-footer font-small text-white pt-4 body">

  <!-- Footer Links -->
  <div class="container text-md-left">

    <!-- Grid row -->
    <div class="row">
      <div class="col-md-2 mx-auto">

        <!-- <h3 class="font-weight-bold text-center text-uppercase mt-3 mb-4">Social Media</h3> -->

        <ul class="list-unstyled d-flex text-center float-center">
          <li class="list-inline-item">
            <a href="www.facebook.com/cmjentertainment" class="btn-floating btn-fb mx-1" aria-label="Facebook">
              <i class="fa-brands fa-facebook" title="Facebook"></i>
            </a>
          </li>

          <li class="list-inline-item">
            <a href="www.twitter.com/cmjentertainment" class="btn-floating btn-tw mx-1" aria-label="Twitter">
              <i class="fa-brands fa-twitter" title="Twitter"></i>
            </a>
          </li>

          <li class="list-inline-item">
            <a href="www.linkedin.com/cmjentertainment" class="btn-floating btn-li mx-1" aria-label="Linkedin">
              <i class="fa-brands fa-linkedin" title="Linkedin"></i>
            </a>
          </li>

          <li class="list-inline-item">
            <a href="www.telegram.com/cmjentertainment" class="btn-floating btn-dribbble mx-1" aria-label="Telegram">
              <i class="fa-brands fa-telegram" title="Telegram"></i>
            </a>
          </li>

          <li class="list-inline-item">
            <a href="www.whatsapp.com/000000000" class="btn-floating btn-dribbble mx-1" aria-label="WhatsApp">
              <i class="fa-brands fa-whatsapp" style="color:green;" title="WhatsApp"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <hr>
  
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    &copy; 2022 Copyright 
    <code class="text-danger">Lutimbe</code><code class="bg-white text-black">Filmz</code>
  </div>
  
</footer>

