<!-- Footer -->
<footer class="page-footer font-small text-white pt-4 body">

  <!-- Footer Links -->
  <div class="container text-md-left" style="font-size: 15px;">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 mx-auto text-center">

        <!-- Content -->
        <h1 class="font-weight-bold text-Capitalize mt-3 mb-4">
          <code class="text-red">Lutimbe</code><code class="bg-white text-black">Filmz</code>
        </h1>
        <p class="text-center">At LutimbeFilmz, we offer the best of Ugandan movies and series from all our local producers who are based both national and international.
          <br/> We focus on bringing ugandan movies closer to our viewers with the help of the movie producers themselves.
        </p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 mx-auto div-email">

        <!-- Links -->
        <h3 class="font-weight-bold text-uppercase mt-3 mb-4">contact us</h3>

        <p class="text-center">
          E-mail us: cmjentertainment@gmail.com<br> Number: 0700711932
        </p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h3 class="font-weight-bold text-uppercase mt-3 mb-4">Location</h3>

        <ul class="list-unstyled">
          <li>
            <p class="text-center">
              Kampala Town, Near Jessico Building
              <br/> Kyengera Town Council
            </p>
          </li>
        </ul>

      </div>

      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto form-width">

        <!-- Links -->
        <h3 class="font-weight-bold text-center text-uppercase mt-3 mb-4">Contact</h3>

        <ul class="list-unstyled">
            <form class="text-left font-weight-bold text-black bg-white">
              <div class="d-flex flex-column">
                <label class="text-left">Name:</label>
                <input type="text" class="form-control">
              </div>

              <div class="d-flex flex-column">
                <label class="text-left">Email:</label>
                <input type="email" class="form-control">
              </div>

              <div class="d-flex flex-column">
                <label class="text-left">Message:</label>
                <textarea class="form-control" cols="6" rows="2"></textarea>
              </div>

              <button class="btn btn-primary">Send</button>
            </form>
        </ul>

      </div>


    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <hr>

  <!-- Call to action -->
  <ul class="list-unstyled list-inline text-center py-2">
    <li class="list-inline-item" style="font-size: 90px;">
      <h3 class="mb-1" style="font-size: 20px;">Register for free</h3>
    </li>
    <li class="list-inline-item">
      <button type="submit" class="btn btn-primary btn-rounded" (click)="signUp()">Subscribe</button>
    </li>
  </ul>
  <!-- Call to action -->

  <hr>

  <!-- Social buttons -->
  <ul class="list-unstyled list-inline text-center" style="font-size: 25px;">
    <li class="list-inline-item">
      <a href="www.facebook.com/cmjentertainment" class="btn-floating btn-fb mx-1" aria-label="Facebook">
        <i class="fa-brands fa-facebook"></i>
      </a>
    </li>
    <li class="list-inline-item">
      <a href="www.twitter.com/cmjentertainment" class="btn-floating btn-tw mx-1" aria-label="Twitter">
        <i class="fa-brands fa-twitter"></i>
      </a>
    </li>
    <li class="list-inline-item">
      <a href="www.google.com/cmjentertainment" class="btn-floating btn-gplus mx-1" aria-label="Google">
        <i class="fa-brands fa-google-plus" style="color:red;"></i>
      </a>
    </li>
    <li class="list-inline-item">
      <a href="www.linkedin.com/cmjentertainment" class="btn-floating btn-li mx-1" aria-label="Linkedin">
        <i class="fa-brands fa-linkedin"></i>
      </a>
    </li>
    <li class="list-inline-item">
      <a href="www.telegram.com/cmjentertainment" class="btn-floating btn-dribbble mx-1" aria-label="Telegram">
        <i class="fa-brands fa-telegram"></i>
      </a>
    </li>
    <li class="list-inline-item">
      <a href="www.whatsapp.com/000000000" class="btn-floating btn-dribbble mx-1" aria-label="WhatsApp">
        <i class="fa-brands fa-whatsapp" style="color:green;"></i>
      </a>
    </li>
  </ul>
  <!-- Social buttons -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    &copy; 2022 Copyright 
    <code class="text-red">Lutimbe</code><code class="bg-white text-black">Filmz</code>
  </div>
  <!-- Copyright -->

</footer>

