<html class="d-flex flex-column">
  <body class="d-flex flex-column bg-black">
    <div class="container-fluid">
      <div class="info-div text-white d-flex flex-column">
        <div class="p-2 text-white">
          <h1>
            <code class="text-danger">Lutimbe</code><code class="text-black bg-white">Filmz</code>
          </h1>
          <h4 class="text-yellow">A home of Ugandan movies</h4>
        </div>
      </div>
    </div>

    <div class="main-body text-white d-flex flex-column">
      <h2 class="text-white text-center">Welcome</h2>

      <mat-card class="text-white text-center">
        At LutimbeFilmz, we offer the best of Ugandan movies and series from all our local producers who are based both national and international.
        <br/> We focus on bringing ugandan movies closer to our viewers with the help of the movie producers themselves.
      </mat-card>

      <div class="p-4 text-center">
        <button class="btn btn-primary rounded-pill" (click)="register()">
          Register
        </button>
        <button class="btn btn-outline-primary rounded-pill" (click)="login()">
          login
        </button>
      </div>
    </div>

    <div class="bg-black text-left d-flex flex-wrap details">

        <form [formGroup]="messageFormGroup" class="d-flex flex-column bg-white">
          <nav class="p-2 text-black">Send Message</nav>
          <div class="d-flex flex-column text-black">
            <mat-form-field appearance="outline">
              <mat-label>Name</mat-label>
              <input matInput type="text" formControlName="Name" placeholder="Enter Name" required>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput type="email" formControlName="Email" placeholder="Enter Email" required>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Message/Question</mat-label>
              <textarea matInput class="form-control" formControlName="Message" type="text-area" cols="80" rows="6" required></textarea>
            </mat-form-field>
          </div>
        
          <div>
            <button mat-button class="btn btn-primary float-right" (click)="sendMessage()">
              <mat-icon class="send">send</mat-icon> Submit
            </button>
          </div>
        </form>

      <mat-accordion>

        <h3 class="text-white">Frequently asked questions(FAQ)</h3>

        <mat-expansion-panel class="bg-dark" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title class="text-white">
              Payment Methods for this site
            </mat-panel-title>
            <mat-panel-description>
              Currently I am {{panelOpenState ? 'open' : 'closed'}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p class="text-white">
            We allow payments via the bank using our set 
            system that is user friendly. Our charges are monthly and our services are available as long as the user subscription is operational.
          </p>
        </mat-expansion-panel>

        <mat-expansion-panel class="bg-dark" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title class="text-white">
              Self aware panel
            </mat-panel-title>
            <mat-panel-description>
              Currently I am {{panelOpenState ? 'open' : 'closed'}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p class="text-white">
            I'm visible because I am open
          </p>
        </mat-expansion-panel>

        <mat-expansion-panel class="bg-dark" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title class="text-white">
              Self aware panel
            </mat-panel-title>
            <mat-panel-description>
              Currently I am {{panelOpenState ? 'open' : 'closed'}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p class="text-white">
            I'm visible because I am open
          </p>
        </mat-expansion-panel>

        <mat-expansion-panel class="bg-dark" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title class="text-white">
              Self aware panel
            </mat-panel-title>
            <mat-panel-description>
              Currently I am {{panelOpenState ? 'open' : 'closed'}}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p class="text-white">
            I'm visible because I am open
          </p>
        </mat-expansion-panel>
      </mat-accordion>

    </div>
    
  </body>

  <app-footer></app-footer>
</html>