body {
  background-image: linear-gradient(to top, rgb(0 0 0 / 100%), rgb(0 0 0 / 40%));
  opacity: 1;
  width: 100%;
  height: auto;
}

.container-fluid {
  background-image: url("src/assets/style-images/Tech People.jpg");
  background-size: cover;
  background-repeat: none;
  opacity: .7;
  padding: 0px;
  height: 550px;
}

.info-div {
  background-color: rgb(0 0 0 / 60%);
  background-size: cover;
  opacity: 1;
  height: 100%;
  padding: 7%;
}

.details {
  width: 70%;
  margin-top: 5%;
  opacity: 1;
}

.main-body{
  background-image: linear-gradient(to top, rgb(0 0 0 / 100%), rgb(0 0 0 / 100%));
  opacity: 1;
  width: 100%;
  height: 40%;
  padding-top: 4%;
}

.btn {
  margin-left: 1%;
}

h1 {
  font-size: 2.8rem;
}

h3 {
  margin-left: 10%;
}

mat-card, mat-card div, card-text {
  background-color: unset;
}

mat-card {
  margin: 2%;
  margin-right: 2%;
  margin-left: 2%;
  width: 92%;
  padding: 3%;
}

.mat-form-field + .mat-form-field {
  margin-left: 8px;
}

mat-expansion-panel {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 1%;
}

mat-panel-title {
  opacity: .5;
}

mat-panel-description {
  display: none;
}

form {
  width: 50%;
}