<html class="d-flex flex-column">
  <body class="d-flex flex-column">
    <div class="body">
      <div class="container-fluid">
        <div class="info-div text-white d-flex flex-column">
          <div class="p-2 text-white">
            <h1>
              <code class="text-red">Lutimbe</code><code class="text-black">Films</code>
            </h1>
            <h4 class="text-yellow">A home of Ugandan movies</h4>
          </div>
        </div>
      </div>

      <div class="main-body text-white d-flex flex-column">
          <mat-card class="d-flex mat-parent-small text-white justify-content-between">
            <div class="first-child"></div>
            <!-- <img src="./assets/style-images/Tech People.jpg"> -->
            <div class="row row-cols-1 row-cols-md-3 g-2 justify-content-end">
              <div class="card-body card-text">
                Series, Comedies, animations, horrors, thrillers, actions
              </div>
            </div>
          </mat-card>

          <mat-card class="d-flex mat-parent-small text-white justify-content-between">
            <div class="first-child"></div>
            <div class="row row-cols-1 row-cols-md-3 g-2">
                Payment plans include monthly and weekly. Methods used are PayPal, credit card, mobile money.
            </div>
          </mat-card>
      </div>

    </div>
  </body>

  <app-footer></app-footer>
</html>