<body>
  <div class="body">
    <div class="container-fluid">
      <div class="info-div text-white d-flex flex-column">
        <div class="p-2">
          <h1><code class="text-red">Lutimbe</code><code class="text-black">Films</code></h1>
          <small>A home of Ugandan movies</small>
        </div>
<!--        <form class="d-flex">-->
<!--          <input class="form-control" type="search" id="search-movies" placeholder="search for movies and series...." width="200">-->
<!--          <button class="btn btn-primary">Search</button>-->
<!--        </form>-->
      </div>
    </div>

    <div class="main-body text-white d-flex flex-column">
      <span class="p-2">Details</span>
      <div class="d-flex text-white">
        <mat-card class="mat-parent-small text-white">
          <div class="row row-cols-1 row-cols-md-3 g-2 flex-wrap">
              <div class="card h-100">
                <div class="card-body">
                  <h3 class="card-title">
                    Subscription
                  </h3>
                  <h5 class="card-text">
                    Monthly<br>
                    Weekly<br>
                    Daily<br>
                  </h5>
                </div>
                <div class="btn btn-primary bg-pink cart">
                  Subscribe
                </div>
              </div>
          </div>
        </mat-card>

        <mat-card class="mat-parent-small text-white">
          <div class="row row-cols-1 row-cols-md-3 g-2 flex-wrap">
            <div class="card h-100">
              <div class="card-body">
                <h3 class="card-title">
                  Subscription
                </h3>
                <h5 class="card-text">
                  Monthly<br>
                  Weekly<br>
                  Daily<br>
                </h5>
              </div>
              <div class="btn btn-primary bg-pink cart">
                Subscribe
              </div>
            </div>
          </div>
        </mat-card>

        <mat-card class="mat-parent-small text-white">
          <div class="row row-cols-1 row-cols-md-3 g-2 flex-wrap">
            <div class="card h-100">
              <div class="card-body">
                <h3 class="card-title">
                  Subscription
                </h3>
                <h5 class="card-text">
                  Monthly<br>
                  Weekly<br>
                  Daily<br>
                </h5>
              </div>
              <div class="btn btn-primary bg-pink cart">
                Subscribe
              </div>
            </div>
          </div>
        </mat-card>
      </div>

      <span class="p-2 span-movies">Movie Categories</span>
      <div class="d-flex text-white">
        <mat-card class="mat-parent-small text-white">
          <div class="row row-cols-1 row-cols-md-3 g-2 flex-wrap">
            <div class="card h-100">
              <div class="card-body">
                <h3 class="card-title">
                  Series
                </h3>
                <h5 class="card-text">
                  Monthly<br>
                  Weekly<br>
                  Daily<br>
                </h5>
              </div>
              <div class="btn btn-primary bg-pink cart">
                Subscribe
              </div>
            </div>
          </div>
        </mat-card>

        <mat-card class="mat-parent-small text-white">
          <div class="row row-cols-1 row-cols-md-3 g-2 flex-wrap">
            <div class="card h-100">
              <div class="card-body">
                <h3 class="card-title">
                  Movies
                </h3>
                <h5 class="card-text">
                  Monthly<br>
                  Weekly<br>
                  Daily<br>
                </h5>
              </div>
              <div class="btn btn-primary bg-pink cart">
                Subscribe
              </div>
            </div>
          </div>
        </mat-card>

        <mat-card class="mat-parent-small text-white">
          <div class="row row-cols-1 row-cols-md-3 g-2 flex-wrap">
            <div class="card h-100">
              <div class="card-body">
                <h3 class="card-title">
                  Reality TV Shows
                </h3>
                <h5 class="card-text">
                  Monthly<br>
                  Weekly<br>
                  Daily<br>
                </h5>
              </div>
              <div class="btn btn-primary bg-pink cart">
                Subscribe
              </div>
            </div>
          </div>
        </mat-card>
      </div>

    </div>
  </div>
</body>

<app-footer></app-footer>
