<div class="container-fluid bg-dark">
  <form class="bg-white" [formGroup]="RegisterForm">
    <nav class="p-2">Register Produer</nav>

    <div class="form-group">
      <span>Name</span>
        <input type="text" class="form-control" formControlName="Name" name="name" value="name" placeholder="enter username" required>
    </div>

    <div class="form-group">
      <span>Email</span>
        <input type="email" class="form-control" formControlName="Email" name="email" value="email" placeholder="enter email" required>
    </div>

    <div class="form-group">
      <span>Type of Genre</span><br>
      <select class="form-control" formControlName="Genre" required>
          <option></option>
          <option *ngFor="let genre of genres">{{genre.Genre}}</option>
        </select>
    </div>

    <div class="form-group">
      <span>Upload image</span>
        <input type="File" class="form-control" formControlName="File" placeholder="enter email" required>
    </div>

    <button type="submit" class="btn btn-primary" (click)="register()">
      <i class="fa-solid fa-save"></i>
      Register
    </button>

  </form>
</div>