<body class="bg-black">

  <mat-tab-group  class="bg-white">
    <mat-tab label="Mobile Money">
      <form>
        <label>text</label>
          <input type="text" class="form-control" placeholder="enter">
        <label>text</label>
          <input type="text" class="form-control" placeholder="enter">
        <label>text</label>
          <input type="text" class="form-control" placeholder="enter">
        <label>text</label>
        <input type="text" class="form-control" placeholder="enter">
        <label>text</label>
        <input type="text" class="form-control" placeholder="enter">

        <button class="btn btn-primary">Pay</button>
      </form>
    </mat-tab>
    <mat-tab label="Pay pal">
      <form>
        <label>text</label>
        <input type="text" class="form-control" placeholder="enter">
        <label>text</label>
        <input type="text" class="form-control" placeholder="enter">
        <label>text</label>
        <input type="text" class="form-control" placeholder="enter">
        <label>text</label>
        <input type="text" class="form-control" placeholder="enter">
        <label>text</label>
        <input type="text" class="form-control" placeholder="enter">

        <button class="btn btn-primary">Pay</button>
      </form>
    </mat-tab>
    <mat-tab label="Credit account" class="d-flex justify-content-center">
      <form>
        <label>text</label>
        <input type="text" class="form-control" placeholder="enter">
        <label>text</label>
        <input type="text" class="form-control" placeholder="enter">
        <label>text</label>
        <input type="text" class="form-control" placeholder="enter">
        <label>text</label>
        <input type="text" class="form-control" placeholder="enter">
        <label>text</label>
        <input type="text" class="form-control" placeholder="enter">

        <button class="btn btn-primary">Pay</button>
      </form>
    </mat-tab>
  </mat-tab-group>

</body>
