<body class="text-white d-flex flex-wrap">
  <mat-card class="example-card card-producer" *ngFor="let producer of producers">
      <img mat-card-image [src]="'../../../../../assets/films/'+ producer.File" [alt]="producer.Name">
    <mat-card-content>
      <p>
       {{producer.Name}} <br>
       {{producer.Email}} <br>
      </p>
      <mat-card-actions>
        <button mat-button>{{producer.Genre}}</button>
      </mat-card-actions>
    </mat-card-content>

    <div class="d-flex flex-wrap flex-div">
      <mat-card class="example-card bg-dark card-movies" *ngFor="let movie of movies" routerLink="/play/{{movie.ID}}">
        <div class="text-white">
          <video [src]="'../../../../../assets/films/'+ movie.File" width="100" controls></video>

          <nav class="text-white">{{movie.Title}}</nav>
          <mat-card-content class="text-left card-details">
              <p class="text-white">
                {{movie.Details}}
              </p>
              <mat-card-actions class="card-definition">
                <button mat-button>{{movie.Genre}}</button>
                <button mat-button>{{movie.Producer}}</button>
            </mat-card-actions>
          </mat-card-content>
        </div>
      </mat-card>
    </div>
  </mat-card>
</body>