nav {
	opacity: 1;
}

.example-spacer {
  flex: 1 1 auto;
}

table {
  width: 100%;
  margin-bottom: 2%;
  position: absolute;
}

span {
	text-align: center !important;
	display: inline-block;
	width: 100%;
}