<body class="bg-dark">
  <div class="container-fluid">
    <h2 class="text-white text-center">Welcome Back to
      <button class="home bg-dark" type="submit" (click)="BackHome()">
        <code class="text-red">Lutimbe</code><code class="text-black bg-white">Filmz</code>
      </button>
    </h2>

    <form class="bg-white d-flex flex-column" [formGroup]="loginForm">
      <nav class="p-2">Login</nav>

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="Email" placeholder="Enter email" required>
      </mat-form-field><!-- 
        <small class="form-text text-muted">
          We'll never share your email with anyone else.
        </small> -->

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput formControlName="Password" placeholder="Enter Password" [type]="hide ? 'password' : 'text'" required>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <button type="submit" class="btn btn-primary float-right login" (click)="login()">Login</button><br>

      <div class="d-flex flex-column text-center second-option">
        <small class="text-primary">Login via OTP</small>

        <div class="d-flex text-center justify-content-center log-button">
          <button class="btn rounded-circle btn-primary">
            <i class="fa-brands fa-facebook"></i>
          </button>
          <button class="btn rounded-circle btn-danger">
            <i class="fa-brands fa-google"></i>
          </button>
        </div>
      
      </div>

      <a routerLink="/subscribe">Don't have an account yet? Register</a>
    </form>
  </div>
</body>