<body class="bg-dark">
  <div class="container-fluid">
    <h2 class="text-white text-center">Welcome Back to
      <button class="home bg-dark" type="submit" (click)="BackHome()">
        <code class="text-red">Lutimbe</code><code class="text-black bg-white">Filmz</code>
      </button>
    </h2>

    <form class="bg-white">
      <nav class="p-2">Login</nav>
      <div class="form-group">
        <span>Email</span>
        <input type="email" class="form-control" placeholder="enter email" required>
        <small class="form-text text-muted">
          We'll never share your email with anyone else.
        </small>
      </div>
      <div class="form-group">
        <span>Password</span>
        <input type="password" class="form-control" placeholder="enter password" required>
      </div>

      <button type="submit" class="btn btn-primary float-right">Login</button><br>

      <div class="d-flex flex-column text-center second-option">
        <small class="text-primary">Login via OTP</small>

        <div class="d-flex text-center justify-content-center log-button">
          <button class="btn rounded-circle btn-primary">
            <i class="fa-brands fa-facebook"></i>
          </button>
          <button class="btn rounded-circle btn-danger">
            <i class="fa-brands fa-google"></i>
          </button>
        </div>
      
      </div>

      <a routerLink="/subscribe">Don't have an account yet? Register</a>
    </form>
  </div>
</body>