<body class="container-fluid bg-dark">
  <form [formGroup]="UpdateMovie" class="form-control d-flex flex-column">
    <div class="d-flex justify-content-between">
      <h4 class="modal-title" id="modal-basic-title">Update Movie</h4>
      <button class="btn close text-center" (click)="close()">
        <i class="fa-solid fa-times"></i>
      </button>
    </div>

    <mat-form-field appearance="outline">
      <mat-label>Title</mat-label>
      <input matInput type="text" formControlName="Title" placeholder="Update Title" required>
    </mat-form-field>

    <mat-label>File</mat-label>
      <input type="file" formControlName="File" class="form-control" placeholder="Select File" required>

    <mat-form-field appearance="outline">
      <mat-label>Genre</mat-label>
      <input matInput type="text" formControlName="Genre" placeholder="Update Genre" required>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Producer</mat-label>
      <input matInput type="text" formControlName="Producer" placeholder="Update Producer" required>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Details</mat-label>
      <textarea matInput class="form-control" formControlName="Details" type="text-area" cols="80" rows="6" required></textarea>
    </mat-form-field>

    <div class="d-flex buttons">
        <button class="btn btn-primary" (click)="Update()"><i class="fa-solid fa-save"></i>&nbsp;Update</button>
        <button class="btn btn-secondary" (click)="Clear()"><i class="fa-solid fa-history"></i>&nbsp;Clear</button>
    </div>
  </form>
</body>