table {
  width: 100%;
  margin-bottom: 2%;
}

span {
	text-align: center !important;
	display: inline-block;
	width: 100%;
}

td {
	font-size: .7rem;
}

.form-group {
	margin-bottom: 1%;
}

.form-group input {
	width: 90%;
}