<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- ID Column -->
  <ng-container matColumnDef="ID">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let customer"> {{customer.ID}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="Name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let customer"> {{customer.Name}} </td>
  </ng-container>

  <!-- Username Column -->
  <ng-container matColumnDef="Username">
    <th mat-header-cell *matHeaderCellDef> Username </th>
    <td mat-cell *matCellDef="let customer"> {{customer.Username}} </td>
  </ng-container>

  <!-- Email Column -->
  <ng-container matColumnDef="Email">
    <th mat-header-cell *matHeaderCellDef> Email </th>
    <td mat-cell *matCellDef="let customer"> {{customer.Email}} </td>
  </ng-container>

  <!-- File Column -->
  <ng-container matColumnDef="File">
    <th mat-header-cell *matHeaderCellDef> File </th>
    <td mat-cell *matCellDef="let customer"> {{customer.File}} </td>
  </ng-container>

  <!-- Password Column -->
  <ng-container matColumnDef="Password">
    <th mat-header-cell *matHeaderCellDef> Password </th>
    <td mat-cell *matCellDef="let customer"> {{customer.Password}} </td>
  </ng-container>

  <!-- CPassword Column -->
  <ng-container matColumnDef="CPassword">
    <th mat-header-cell *matHeaderCellDef> Confirm Password </th>
    <td mat-cell *matCellDef="let customer"> {{customer.CPassword}} </td>
  </ng-container>

  <!-- Edit Column -->
  <ng-container matColumnDef="Edit">
    <th mat-header-cell *matHeaderCellDef> Edit </th>
    <td mat-cell *matCellDef="let customer"> <button class="btn btn-outline-primary" (click)="open(update)"><i class="fa fa-edit"></i></button> </td>
  </ng-container>

  <!-- Delete Column -->
  <ng-container matColumnDef="Delete">
    <th mat-header-cell *matHeaderCellDef> Delete </th>
    <td mat-cell *matCellDef="let customer"> <button class="btn btn-outline-danger" (click)="open(delete)"><i class="fa fa-trash"></i></button> </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<span>&copy; copy rights reserved 2022</span>

<!-- pop-up form for updateing -->
<ng-template #update let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Update Customr</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <body>
      <div class="container">
        <form [formGroup]="UpdateCustomer" class="form-control d-flex flex-column">
          <mat-form-field appearance="outline">
            <mat-label>Title</mat-label>
            <input matInput type="text" formControlName="Email" placeholder="Update Title" required>
          </mat-form-field>

          <mat-label>File</mat-label>
              <input type="file" formControlName="File" class="form-control" placeholder="Select File" required>

          <mat-form-field appearance="outline">
            <mat-label>Genre</mat-label>
            <input matInput type="text" formControlName="Email" placeholder="Update Genre" required>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Producer</mat-label>
            <input matInput type="text" formControlName="Producer" placeholder="Update Producer" required>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Details</mat-label>
            <textarea matInput class="form-control" formControlName="Details" type="text-area" cols="80" rows="6" required></textarea>
          </mat-form-field>
        </form>
      </div>
    </body>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" (click)="Update()">Update</button>
    <button class="btn btn-secondary" (click)="Clear()">Clear</button>
  </div>
</ng-template>

<!-- pop-up form for deleting -->
<ng-template #delete let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Delete Customer</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <body>
      <div class="container">
        <form [formGroup]="DeleteCustomer"class="form-control d-flex flex-column">
          <mat-form-field appearance="outline">
            <mat-label>Title</mat-label>
            <input matInput type="text" formControlName="Email" placeholder="Update Title" required>
          </mat-form-field>

          <mat-label>File</mat-label>
              <input type="file" formControlName="File" class="form-control" placeholder="Select File" required>

          <mat-form-field appearance="outline">
            <mat-label>Genre</mat-label>
            <input matInput type="text" formControlName="Email" placeholder="Update Genre" required>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Producer</mat-label>
            <input matInput type="text" formControlName="Producer" placeholder="Update Producer" required>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Details</mat-label>
            <textarea matInput class="form-control" formControlName="Details" type="text-area" cols="80" rows="6" required></textarea>
          </mat-form-field>
        </form>
      </div>
    </body>
  </div>
  <div class="modal-footer">
    <button class="btn btn-secondary" (click)="Clear()">Clear</button>
    <button class="btn btn-danger" (click)="Delete()">Delete</button>
  </div>
</ng-template>