        <!-- Button trigger modal -->
        <ng-template #content let-modal>
            <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Add Phone</h4>
                <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
            </div>
            <div class="modal-body">

                <body>
                    <div id="contain">
                        <form [formGroup]="signUpForm" id="Form" class="form-control">
                            <h1>Add Phone</h1>
                            <div class="form-row">
                                <div class="form-group col-md-6" id="email">
                                    <label for="inputEmail">Email</label>
                                    <input formControlName="email" type="email" class="form-control" id="inputEmail" placeholder="Email">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6" id="ids">
                                    <div>
                                        <label for="inputPassword4">Password</label>
                                        <input formControlName="password" type="password" class="form-control" id="inputPassword4" placeholder="Password">
                                    </div>
                                    <div>
                                        <label for="inputPassword4">Confirm Password</label>
                                        <input formControlName="confirmPassword" type="password" class="form-control" id="inputPassword4" placeholder="Confirm Password">
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <label for="inputPassword4">Upload Image</label>
                                <input formControlName="file" class="form-control" type="file" id="inputFile">
                            </div>
                        </form>

                    </div>
                </body>
            </div>
            <div class="modal-footer">
                <button type="submit" (click)="signUp()" class="btn btn-primary" id="btn">Sign up</button>&nbsp;
                <button type="submit" (click)="cancel()" class="btn btn-danger" id="btn">Cancel</button>
            </div>
        </ng-template>

        <button class="btn btn-lg btn-outline-primary" (click)="open(content)"> <i class="fa fa-user-plus" color="white"></i>&nbsp;
            Add User</button>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="weight">
    <th mat-header-cell *matHeaderCellDef> Weight </th>
    <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="symbol">
    <th mat-header-cell *matHeaderCellDef> Symbol </th>
    <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="symbol">
    <th mat-header-cell *matHeaderCellDef> Delete </th>
    <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="symbol">
    <th mat-header-cell *matHeaderCellDef> Edit </th>
    <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<span>&copy; copy rights reserved 2022</span>
