<body class="container-fluid bg-dark">
  <form [formGroup]="UpdateCustomer" class="form-control d-flex flex-column">
    <div class="d-flex justify-content-between">
      <h4 class="modal-title" id="modal-basic-title">Update Customer</h4>
      <button class="btn close text-center" (click)="close()">
        <i class="fa-solid fa-times"></i>
      </button>
    </div>

    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput type="text" formControlName="Name" placeholder="Update Name" required>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput type="text" formControlName="Email" placeholder="Update Email" required>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Username</mat-label>
      <input matInput type="text" formControlName="Username" placeholder="Update Username" required>
        </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput type="Password" formControlName="Password" placeholder="Update Password" required>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>CPassword</mat-label>
      <input matInput type="Password" formControlName="CPassword" placeholder="Update Confirm Password" required>
    </mat-form-field>

    <div class="d-flex buttons">
      <button class="btn btn-primary" (click)="Update()"><i class="fa-solid fa-save"></i>&nbsp;Update</button>
      <button class="btn btn-secondary" (click)="Clear()"><i class="fa-solid fa-history"></i>&nbsp;Clear</button>
    </div>
  </form>
</body>